@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="password"]::-ms-reveal {
  display: none;
}

@layer components {
  .black_gray_gradient {
    @apply bg-gradient-to-br from-black to-gray-900;
  }

  .blue_purple_gradient {
    @apply bg-gradient-to-r from-blue-500 to-purple-600 bg-clip-text text-transparent;
  }

  .dropdown {
    @apply absolute z-50 right-2 mt-3 top-12 p-2 rounded-lg bg-gray-800 min-w-[210px] flex flex-col gap-2 justify-end items-end;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .glassmorphism {
    @apply rounded-xl bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
  }
}

/* Pulse for default placeholder for images */
@keyframes custom-pulse {
  20% {
    opacity: 0.2;
  }
}
.custom-animate-pulse {
  animation: custom-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Custom Loader css */
.loader {
  display: block;
  --height-of-loader: 6px;
  --loader-color: linear-gradient(to right, #3b82f6, #9333ea);
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: black;
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
